@import 'nib'

@import "foundation/_variables.styl"
@import "foundation/_mixins.styl"
@import "foundation/_extends.styl"
@import "foundation/_base.styl"
@import "foundation/_typography.styl"
@import "foundation/_button.styl"
@import "foundation/_animation.styl"

@import "components/_header.styl"

@import "layout/_home.styl"
@import "layout/_projects.styl"
@import "layout/_project.styl"