<section class="container home">
  <section class="home__desc">
    <h1 class="home__desc__title">Maxim McNair</h1>

    <p><strong>Hacker, maker</strong> <span class="ampersand">&</span> <strong>occasional designer.</strong> I can normally be found building MVC apps utilising Backbone or Angular with a Nodejs backend.</p>

    <a class="btn" href="#/projects">View work</a>
  </section>

  <section class="home__frameworks">
   <div class="home__framework home__framework--backbone"></div>
   <div class="home__framework home__framework--angular"></div>
   <div class="home__framework home__framework--nodejs"></div>
   <div class="home__framework home__framework--grunt"></div>
  </section>
</section>