<!-- <ul>
  <li ng-repeat="project in projects">
    <h3>{{project.title}}</h3>
    <ul>
      <li ng-repeat="tag in project.tags">{{tag}}</li>
    </ul>
  </li>
</ul> -->

<!-- <ul>
  <h3>Filter</h3>
  <div ng-repeat="project in projects">
    <li ng-repeat="tag in project.tags">{{tag}}</li>
  </div>
</ul> -->

<section class="projects container">
  <a ng-repeat="project in projects" class="project-preview project-preview--{{project.slug}}" href="/projects/{{project.slug}}/">
    <h2 class="project-preview__title">{{project.title}}</h2>
    <div class="project-preview__tags">
      <span ng-repeat="tag in project.tags">{{tag}}</span>
    </div>
  </a>
</section>