/* Epilogue */
@font-face {
  src: url('/Epilogue.woff2') format('woff2');
  font-family: 'Epilogue';
  font-style: normal;
  font-display: block;
}

/* Fraunces */
@font-face {
  src: url('/Fraunces.woff2') format('woff2');
  font-family: 'Fraunces';
  font-style: normal;
  font-display: block;
}

:root {
  /* Typography */
  --typeface-body: 'Epilogue';
	--typeface-title: 'Fraunces';

  /* Colors */
  --color-cream: #F5F5CF;
  /* --color-white: #F5F5CF; */
  --color-white: #FFFFFF;
  --color-grey: #4d4d4d;
  --color-grey-light: #797979;
  --color-grey-lighter: #cecece;
  --color-grey-dark: #1d1f20;
  --color-grey-darker: #131515;
  --color-black: #000000;
  --color-black-off: #0d0d0d;
  --color-gold: #d09f69;
  --color-blue: #332bcc;
  --color-blue-dark: #302b95;

  --color-highlight: var(--color-blue);

  /* Z Index */
  --z-header: 999;
  --z-draggable: 888;
  --z-index-work-category: 888;
  --z-canvas: 888;
  --z-background: 777;
  --z-intro: 666;
  --z-drawing: 666;
  --z-drawing-bg: 555;

  /* Layout */
  --layout-width-max: 750px;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*   } */
/* } */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-black);
}

body {
  font-family: var(--typeface-body);
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.75;
}

::selection {
  color: var(--color-black);
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1.138rem;
}

p code {
  background: var(--color-grey-dark);
  /* border-radius: 3px; */
  /* padding: 3px 5px; */
  font-size: 1.05rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-white);
}

h1,
.text_h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2,
.text_h2 {
  font-family: var(--typeface-title);
  font-size: 2.074rem;
  line-height: 1.45;
}

h3,
.text_h3 {
  font-size: 1.728rem;
}

h4,
.text_h4 {
  font-size: 1.44rem;
}

h5,
.text_h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
  color: var(--color-grey-light);
}

code,
.type_code {
  font-family: 'Source Code Pro', monospace;
}

/* from highlight.js theme */
pre {
  background: #1e1e2e;
  padding: 20px 20px 18px 20px;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

.react-draggable {
  cursor: grab;
}
.react-draggable-dragging {
  cursor: grabbing;
}

.react-draggable .content {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.react-draggable-dragging .content {
  transform: scale(1);
}

/* Container */
.content {
  display: block;
  max-width: var(--layout-width-max);
  margin: 0 auto;
  padding: 20px;
}

/* Button */
.btn {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 8px 18px 4px 18px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  color: var(--color-grey-dark);
  background: var(--color-grey-light);
  transition: all 0.3s;
}

.btn:hover {
  color: var(--color-black);
  background: var(--color-white);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/* Articles */
.articles {
  margin-top: 50px;
  padding-top: 30px;
  /* opacity: 0; */
  /* animation: fadeIn 0.5s 1.4s; */
  /* animation-fill-mode: forwards; */
}

.article {
  margin-top: 80px;
}

.article-prev {
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
  transition: all 0.3s;
}

.article-prev__title {
  margin: 0px;
  transition: all 0.3s;
  color: var(--color-white);
}

.article-prev:hover {
  margin-left: 10px;
}

.article-prev:hover .article-prev__title {
  color: #ffffff;
}

.article-prev__date {
  display: flex;
}

.article__title {
  margin: 0px;
}

.article__date {
  display: flex;
  color: var(--color-grey-light);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.article__header {
  margin-bottom: 25px;
  /* opacity: 0; */
  /* animation: fadeIn 0.5s 0.3s; */
  /* animation-fill-mode: forwards; */
}

.article__content {
  /* opacity: 0; */
  /* animation: fadeIn 0.5s 0.3s; */
  /* animation-fill-mode: forwards; */
  color: var(--color-white);
}

.article__content li {
  font-size: 1.138rem;
}

.article__content a {
  color: var(--color-highlight);
}

.article__content iframe {
  width: 100%;
  height: 600px;
  border: none;
}

.article__content pre {
  margin-bottom: 1.4rem;
}

.article__content h2:first-child {
  margin-top: 0px;
}

.article-dot {
  color: var(--color-grey-light);
  padding: 0px 7px;
}

/* Tags */
.tags {
  display: flex;
  gap: 12px;
  padding-right: 5px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.tags li,
.tag {
  color: var(--color-grey-light);
  text-transform: uppercase;
  font-weight: 600;
}

/* Experiments */
canvas{
  display: block;
  width: 100%;
}

.canvas {
  background-color: var(--color-black);
  position: absolute;
  top: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: var(--z-canvas);
}

.canvas-collab {
  background-color: var(--color-white);
}

/* Multi Pass */
.filtersmulti canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
  background: var(--color-black-off);
}
.filters {
  padding-top: 100px;
  height: 100vh;
  overflow-y: scroll;
}
@media (min-width: 560px) {
  .filters {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 300px;
    z-index: 1;
  }
  .filters-preview {
    padding: 0px;
    padding-top: 100px;
  }
}
.filterscontent {
  margin: 0 auto;
  padding: 0px 20px;
  max-width: var(--layout-width-max);
}
.filter span {
  display: block;
  font-size: 60px;
  font-weight: 300;
  opacity: 0.4;
  user-select: none;
  transition: opacity 0.3s;
}
.filter:hover span {
  opacity: 1;
}

.filter {
  position: relative;
  width: 100%;
}
.filter:hover .range {
  opacity: 1;
}
.filter[data-disabled=true] {
  opacity: 0.1;
}
.filter[data-disabled=true] span {
  text-decoration: line-through;
}
.filter[data-disabled=true] span:hover {
  opacity: 0.4;
}
.filter[data-disabled=true] .range {
  opacity: 0;
}

.range {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  width: 300px;
  transition: opacity .3s;
}

@media (min-width: 860px) {
  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .filter span {
    display: block;
    font-size: 60px;
  }
  .range {
    width: 250px;
  }
}

.range span {
  font-size: 15px;
}

.potential {
  height: 8px;
  background: rgba(13, 13, 13, 0.2);
  backdrop-filter: blur(10px);
  background: var(--color-white);
  border-radius: 6px;
}

.amount {
  height: 8px;
  position: relative;
  background: var(--color-white);
  border-radius: 6px;
}

.amount::after {
  content: '';
  height: 50px;
  width: 8px;
  border-radius: 3px;
  position: absolute;
  right: -5px;
  top: -20px;
  background: var(--color-white);
}

/* Article - WebGL Photo filters */
.article-webgl-photo-filters{
}
.article-webgl-photo-filters-canvas{
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 500px;
}
.article-webgl-photo-filters-dials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-webgl-photo-filters-dials strong {
  display: block;
  text-align: center;
}

.obit-controls-gizmo {
	position: absolute;
	top: 2em;
	right: 2em;
  z-index: 1000;
  background-color: #FFF0;
  border-radius: 100%;
  transition: background-color .15s linear;
  cursor: pointer;
}

.obit-controls-gizmo.dragging, .obit-controls-gizmo:hover  {
  background-color: #FFF3;
}

.obit-controls-gizmo.inactive {
  pointer-events: none;
  background-color: #FFF0 !important; 
}

.dg.a {
  float: left !important;
  margin-left: 2em !important;
}
