---
import Layout from "../layouts/Layout.astro";
import { Cards } from "../components/keeptheaxesharp/Cards.tsx";

const cards = [
  {
    id: "1",
    question: "",
    questionLang: "js",
    answer: "",
    answerLang: "js",
    nextReview: new Date(),
    lastReview: new Date(),
    interval: 1,
    reps: 1,
    ef: 1,
  },
];
---

<Layout title="Maxim McNair">
  <nav class="nav">
    <ul>
      <li>Articles</li>
      <li>Found</li>
      <li>TIL</li>
    </ul>
  </nav>

  <main>
    <section>
      <h1 class="page-title">Maxim McNair</h1>
      <p>
        Product focused engineer and designer who creates things for the web.
      </p>
      <p>
        This is a place for experiments, tools and writing around the
        intersection of math, computer interfaces and design.
      </p>
    </section>

    <section>
      <h2>Experiments & Tools</h2>
      <div class="sections">
        <div href="/ex/opx" class="section section-opx">
          <div class="opx_border">
            <div class="opx_background">
              <div class="opx_keys">
                <div class="opx_key_black"></div>
                <div class="opx_key_black"></div>
              </div>
              <div class="opx_keys">
                <div class="opx_key_white"></div>
                <div class="opx_key_white"></div>
                <div class="opx_key_white"></div>
              </div>
            </div>
          </div>
          <a href="/ex/opx" class="section-link">
            <span>OPX</span>
          </a>
        </div>

        <div class="section section-burnie">
          <a href="https://burnie.app/" class="section-link">
            <span>Burnie</span>
          </a>
          <video
            controls={false}
            autoPlay={true}
            loop
            muted
            poster="/burnie-gold.png"
            style={{
              height: "400px",
            }}
          >
            <source src={`/burnie-gold.webm`} type="video/webm" />
          </video>
        </div>

      </div>
    </section>

    <section>
      <h2>Articles</h2>
      <div>Ven Diagrams, Set Theory and Javascript</div>
      <div>Blender nodes for the web</div>
      <div>Spatial Interfaces</div>
    </section>
  </main>
</Layout>

<style>
  :root {
    --color-white: #eceff4;
    --color-black: #161616;

    --color-text: var(--color-white);
    --color-bg: var(--color-black);
  }

  html,
  body {
    padding: 0;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    background: var(--color-bg);
    color: var(--color-text);
  }

  ::selection {
    background-color: var(--color-text);
    color: var(--color-bg);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  /* typography */
  html {
    font-size: 112.5%; /* 18px */
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
  }

  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .nav {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* index page */
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    padding-bottom: 100px;
  }

  .page-title {
    margin-top: 80px;
  }

  main section {
    max-width: 600px;
    width: 100%;
    padding: 10px;
  }

  .sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 15px;
  }

  .section {
    background: #35363a;
    border-radius: 10px;
    padding: 10px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
  }

  .section-link {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: var(--color-bg);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: all 0.2s 0.2s;
    z-index: 99;
    overflow: hidden;
  }

  .section-link::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    background-image: url("/arrow-up-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 40px;
    opacity: 0.8;
    transition: all 0.1s;
  }

  .section-link span {
    display: block;
    opacity: 0;
    padding-top: 10px;
    padding-left: 12px;
    transition: all 0.2s;
  }

  .section-link:hover {
    width: 80px;
    transition: all 0.2s;
  }

  .section-link:hover span {
    opacity: 1;
    transition: all 0.05s 0.2s;
  }

  .section-link:hover::after {
    opacity: 1;
  }

  .section-burnie {
    background: #c8c6d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-burnie:hover .section-link {
    width: 100px;
  }

  .section-opx {
    background: #c8c6d0;
    padding: 0px;
  }

  .opx_border {
    background: #d3d7e0;
    width: 100%;
    height: calc(100%);
    padding: 10px;
    display: flex;
    flex: 1;
  }

  .opx_background {
    background: #000000;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 9px;
  }

  .opx_keys {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 4px;
    align-items: stretch;
    padding: 4px;
  }

  .opx_keys:nth-of-type(2) {
    padding-top: 0px;
    flex: 2;
  }

  .opx_key_black {
    background: #d3d7e0;
    display: flex;
    flex: 1;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  .opx_key_black::after {
    content: "";
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 84px;
    position: absolute;
    top: 14px;
    left: 15px;
    transition: all 0.1s;

    background: #141421;
    border: 2px solid rgba(235, 238, 244, 0.2);
    box-shadow: 0px -7.00658px 10.5099px rgba(255, 255, 255, 0.64),
      -3.50329px 10.5099px 10.5099px rgba(49, 52, 58, 0.13);
  }

  .opx_key_black:nth-of-type(1)::after {
    left: auto;
    right: 15px;
  }

  .opx_key_white {
    transition: all 0.1s;
    background: #d3d7e0;
    display: flex;
    flex: 1;
    border-radius: 7px;
    position: relative;
    cursor: pointer;
  }

  .opx_key_white::after {
    transition: all 0.1s;
    content: "";
    display: block;
    width: 52px;
    height: 136px;
    background: red;
    border-radius: 84px;
    border: #d6dae3 solid 2px;
    background: var(--color-grey);
    position: absolute;
    top: 14px;
    left: 15px;
    box-shadow: 0px -7.00658px 10.5099px rgba(255, 255, 255, 0.64),
      -7.00658px 7.00658px 10.5099px #c0c9d3,
      inset -3.50329px 3.50329px 10.5099px rgba(255, 255, 255, 0.25);
  }

  .opx_key_active {
    background: #bec1c9;
    transform: scale(0.99);
  }

  .section-keeptheaxesharp {
    background: #f5f2ec;
  }

  .section-keeptheaxesharp:hover .section-link {
    width: 209px;
  }
</style>

<script>
  // OPX click animations
  const els = document
    .querySelectorAll(".opx_key_white, .opx_key_black")
    .forEach((el) => {
      el.addEventListener("mousedown", () =>
        el.classList.add("opx_key_active")
      );
      el.addEventListener("mouseup", () =>
        el.classList.remove("opx_key_active")
      );
    });

  // <div class="section">Copy Paste Latex</div>
  // <div class="section">Mental Math Trainer</div>
  // <div class="section">The Daily</div>
  // <div class="section">Types And Verbs</div>
  // <div class="section">Bring Your Own</div>

  //<div class="section section-keeptheaxesharp">
  //  <Cards cards={cards} client:load />
  //  <a href="/" class="section-link"><span>Keep The Axe Sharp</span></a>
  //</div>
</script>
