.container {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.content {
  position: relative;
  z-index: 3;
  width: 90%;
  max-width: var(--layout-width-max);
  margin: 0 auto;
}

.header {
  margin-bottom: 10px;
}

.desc {
  color: var(--color-grey-light);
  margin-bottom: 40px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 660px) {
  .articles{
    grid-template-columns: repeat(3, 1fr);
  }
}

.article{
  background: #000000;
  /* background: #202020; */
  border-radius: 3px;
  position: relative;
  /* height: 310px; */
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition-duration: 0.1s;
  transition-timing-function: ease !important;
  border-radius: 16px;
  box-shadow: 0 0 1px 1px #ffffff1a;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.article:hover {
  text-decoration: none !important;
}

.article canvas {
  aspect-ratio: 1 / 1;
}

.title,
.issue,
.visit {
  font-family: var(--typeface-mono);
  position: absolute;
  display: inline-block;
  color: var(--color-white);
  z-index: var(--z-index-work-category);
  padding: 8px 15px 4px 15px;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 14px;
}

.issue {
  top: 0px;
  left: 0px;
}

.title {
  top: 0px;
  right: 0px;
  text-align: right;
}

.visit {
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
