<a href="/" class="built-by-maxim">
  Built by <span>Maxim McNair</span>
</a>

<style>
  .built-by-maxim {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    background: rgba(13, 13, 13, 0.05);
    backdrop-filter: blur(30px);
    border-radius: 3px;
    color: var(--color-grey-light);
    z-index: 9999;
    padding: 20px;
  }

  .built-by-maxim span {
    color: #f7f7f7d9;
    transition: all 0.3s;
  }

  .built-by-maxim:hover span {
    color: var(--color-white);
  }
</style>
