.draw {
  cursor: url(/paint.svg) 4 27, auto;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-drawing);
  touch-action: none;
}

