.container {
  padding-top: 100px;
  padding-bottom: 100px;
  /* display: none; */
}

.mainTitle {
  margin-bottom: 5px;
}

.desc {
  color: var(--color-grey-light);
  margin-bottom: 40px;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}

.experiment {
  position: relative;
}

.title,
.category {
  position: absolute;
  display: block;
  background: rgba(13, 13, 13, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  color: var(--color-white);
  z-index: var(--z-index-work-category);
  padding: 8px 15px 4px 15px;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 14px;
}

.title {
  top: 10px;
  left: 10px;
}
.category {
  bottom: 20px;
  left: 10px;
}
