.container {
  padding-top: 100px;
}

.work {
  display: block;
  /* opacity: 0; */
  /* animation: fadeIn 0.5s 2s; */
  /* animation-fill-mode: forwards; */
  margin-top: 15px;
  margin-bottom: 85px;
}

.workDesc {
  position: relative;
}

.workDescTitle {
  margin-top: 25px;
  margin-bottom: 15px;
}

.workDescParagraph {
  color: var(--color-grey-light);
}

.workDescBtn {
  margin-top: 15px;
}

@media (min-width: 510px) {
  .workDescBtn {
    margin-top: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
