.wrapper {
  margin-top: -10px;
  padding-bottom: 100px;
  /* display: none; */
}

.header {
  margin-bottom: 40px;
  text-align: center;
}

.header h2 {
  margin-bottom: 10px;
}

.desc {
  color: var(--color-grey-light);
  max-width: 500px;
  margin: 0 auto;
}

.content {
  position: relative;
  z-index: 3;
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  border-radius: 24px; /* inner-radius + distance/padding (16 + 8) */
  position: relative;
  overflow: hidden;
  background-color: #1C1B1E;
  /* box-shadow: 0 0 1px 1px #ffffff2a; */
  /* padding: 8px; */
}

.item img,
.item video {
  vertical-align: top;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 1px 1px #ffffff1a;
}

.info {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.title,
.date,
.category,
.visit {
  position: absolute;
  display: inline-block;
  background: rgba(13, 13, 13, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  color: var(--color-white);
  z-index: var(--z-index-work-category);
  padding: 8px 15px 4px 15px;
  transition: all 0.3s;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  top: 12px;
  left: 12px;
  /* border-radius: 13px 5px 5px 5px; */
  border-radius: 13px;
}

.category {
  top: 12px;
  right: 12px;
  /* border-radius: 5px 13px 5px 5px; */
  border-radius: 13px;
}

.date {
  display: none;
}

.visit {
  bottom: 12px;
  right: 12px;
  /* border-radius: 5px 13px 5px 5px; */
  border-radius: 13px;
}
