.wrapper canvas {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}
.filters {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 100px;
  padding-top: 300px;
  z-index: 1;
  overflow-y: scroll;
}
.filter span {
  display: block;
  font-size: 80px;
  font-weight: 300;
  opacity: 0.4;
  user-select: none;
  transition: opacity 0.3s;
}
.filter:hover span {
  opacity: 1;
}

.filter {
  position: relative;
}
.filter:hover .filterinput {
  opacity: 1;
}
.filterinput {
  opacity: 0;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 400px !important;
  transition: opacity .3s;
}
.filter[data-disabled=true] {
  opacity: 0.1;
}
.filter[data-disabled=true] span {
  text-decoration: line-through;
}
.filter[data-disabled=true] span:hover {
  opacity: 0.4;
}
.filter[data-disabled=true] .filterinput {
  opacity: 0;
}
