$type-soft = "proxima-nova-soft", sans-serif

body
  font: 100% $font-stack
  color: $color-white

h1
  font-size: 48px
  font-family: $type-soft
  color: #e9e9e9

h2
  color: #e9e9e9

p
  font-size: 18px
  font-weight: 100
  line-height: 26px
  margin-bottom: 15px

strong
  font-weight: 700

a
  color: $color-white
  text-decoration: none
  transition: color .3s
  &:hover
    color: $color-orange

.ampersand
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif
  font-size: 110%
  font-style: italic