<!-- <ul>
  <li ng-repeat="project in projects">
    <h3>{{project.title}}</h3>
    <ul>
      <li ng-repeat="tag in project.tags">{{tag}}</li>
    </ul>
  </li>
</ul> -->

<!-- <ul>
  <h3>Filter</h3>
  <div ng-repeat="project in projects">
    <li ng-repeat="tag in project.tags">{{tag}}</li>
  </div>
</ul> -->

<section class="projects container">
  <a class="project-preview project-preview--talllies" href="#/projects/talllies">
    <h2 class="project-preview__title">Talllies</h2>
    <div class="project-preview__tags">
      <span>Angular</span>
      <span>Node js</span>
      <span>Socket IO</span>
    </div>
  </a>

  <a class="project-preview project-preview--crunchd" href="#/projects/crunchd">
    <h2 class="project-preview__title">Crunchd</h2>
    <div class="project-preview__tags">
      <span>Angular</span>
      <span>Node js</span>
      <span>Socket IO</span>
    </div>
  </a>

  <a class="project-preview project-preview--fraiser" href="#/projects/fraiser">
    <h2 class="project-preview__title">Frasier</h2>
    <div class="project-preview__tags">
      <span>Angular</span>
    </div>
  </a>

  <a class="project-preview project-preview--esis" href="#/projects/esis">
    <h2 class="project-preview__title">Esis</h2>
    <div class="project-preview__tags">
      <span>Backbone</span>
      <span>Node js</span>
    </div>
  </a>

  <a class="project-preview project-preview--loungers" href="#/projects/loungers">
    <h2 class="project-preview__title">Loungers</h2>
    <div class="project-preview__tags">
      <span>Backbone</span>
      <span>Node js</span>
    </div>
  </a>

</section>